.nav {
    display: grid;
    grid-template-columns: 2fr 8fr 2fr;
    gap: 20px;
}

.nav__logo {
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 0.28px;
    text-transform: capitalize;
    align-self: center;
}

.nav-list {
    justify-self: center;
    align-self: center;
}

.nav-list__item {
}

.nav-list__link {
}

.cart {
    align-self: center;
    justify-self: end;
}

.cart__img {
}
.cart__count {
}