.nav-list {
    justify-self: center;
    align-self: center;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 65px;

    font-size: 18px;
    font-weight: 500;
    
}

.nav-list__item {
    position: relative;
}

.nav-list__link {

    &--dropdown {
        display: flex;
        align-items: center;
        gap: 8px;

        &::after {
            height: 18px;
            content: url('./../img/icons/arrow-down.svg');
            }
    }
}

.nav-list__sub-nav {
    position: absolute;
    left: 0;
    top: 100%;
}
