.nav {
    display: grid;
    grid-template-columns: 2fr 8fr 2fr;
    gap: 20px;
}

.logo {
}

.nav-list {
    justify-self: center;
}

.nav-list__item {
}

.nav-list__link {
}

.cart {
}

.cart__img {
}
.cart__count {
}